{% extends 'base.html' %}

{% block content %}
    {% csrf_token %}
    <div class="article_info">
        <h3 class="text-center title">{{ article_obj.title }}</h3>
        <div class="cont">
            {{ article_obj.content | safe }}
        </div>

        <div class="clearfix">
            <div id="div_digg">
                <div class="diggit action">
                    <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
                </div>
                <div class="buryit action">
                    <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
                </div>
                <div class="clear"></div>
                <div class="diggword" id="digg_tips" style="color: red;"></div>
            </div>
        </div>

        <p class="tree_btn">评论树</p>
        <div class="comment_tree">

        </div>
        <script>
            $.ajax({
                url: "/get_comment_tree/",
                type: "get",
                data: {
                    article_id: "{{ article_obj.pk }}"
                },
                success: function (comment_list) {
                    console.log(comment_list);

                    $.each(comment_list, function (index, comment_obj) {
                        var pk = comment_obj.pk;
                        var content = comment_obj.content;
                        var parent_comment_id = comment_obj.parent_comment_id;
                        var s = '<div class="comment_item" comment_id=' + pk + '><span>' + content + '</span></div>';

                        if (!parent_comment_id) {
                            $(".comment_tree").append(s)
                        } else {
                            $("[comment_id=" + parent_comment_id + "]").append(s)
                        }
                    })

                }
            })

        </script>

        <p>评论列表</p>

        <ul class="list-group comment_list">

            {% for comment in comment_list %}
                <li class="list-group-item">
                    <div>
                        <a href="">#{{ forloop.counter }}楼</a> &nbsp;&nbsp;
                        <span>{{ comment.create_time|date:"Y-m-d H:i" }}</span>
                        <a href="/{{ comment.user.username }}/">{{ comment.user.username }}</a>
                        <a class="pull-right replay_btn" username="{{ comment.user.username }}" comment_pk="{{ comment.pk }}">回复</a>
                    </div>

                    {% if comment.parent_comment_id %}
                        <div class="pid_info well">
                            <p>
                                {{ comment.parent_comment.user.username }}: {{ comment.parent_comment.content }}
                            </p>
                        </div>
                    {% endif %}

                    <div class="comment_con">
                        <p>{{ comment.content }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <p>发表评论</p>
        <p>昵称：<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50"
                     value="{{ request.user.username }}">
        </p>
        <p>评论内容:</p>
        <textarea name="content" id="comment_content" cols="60" rows="10"></textarea>
        <p>
            <span class="pull-right">
                <button class="btn btn-default comment_btn">提交评论</button>
            </span>
        </p>

        <script>
            //点赞请求
            $("#div_digg .action").click(function (){
                var is_up=$(this).hasClass("diggit");

                $obj = $(this).children("span");

                $.ajax({
                    url:"/digg/",
                    type:"post",
                    data:{
                        {#点赞人即当前登录人，评论人即当前登录人，都在csrf_token中保存#}
                        "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
                        "is_up":is_up,
                        {#通过url传入视图参数，通过render渲染#}
                        "article_id":"{{ article_obj.pk }}",

                    },
                    success:function (data){
                        console.log(data);

                        if (data.state){
                            var val = parseInt($obj.text());
                            $obj.test(val+1);
                        }
                        else{
                            var val=data.handled?"你已经推荐过!":"你已经反对过!";
                            $("digg_tips").html(val);

                            setTimeout(function (){
                                $("#digg_tips").html("")
                            },1000)
                        }

                    }
                })
            })

            //评论请求

            var pid = ""
            $(".comment_btn").click(function (){
                var content = $("#comment_content").val()

                if(pid){
                    var index = content.indexOf("\n");
                    content = content.slice(index+1)
                }

                $.ajax({
                    url:"/comment/",
                    type:"post",
                    data:{
                        "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
                        "article_id":"{{ article_obj.pk }}",
                        "content":content,
                        "pid": pid,

                    },
                    success:function(data){

                        console.log(data);

                        var create_time = data.create_time;
                        var username = data.username;
                        var content = data.content;
                        var comment_pk = data.comment_pk

                        var parent_comment_user = data.parent_comment_user
                        var parent_comment_content = data.parent_comment_content

                        var ss = '<div class="comment_item" comment_id=' + comment_pk + '><span>' + content + '</span></div>';

                        if (!pid) {
                            $(".comment_tree").append(ss)
                        } else {
                            $("[comment_id=" + pid + "]").append(ss)
                        }

                        if(pid){
                            var s = `
                            <li class="list-group-item">
                                <div>
                                    <span>${create_time}</span>
                                    <a href="/${username}/">${username}</a>
                                    <a class="pull-right replay_btn" username="${username}" comment_pk="${comment_pk}">回复</a>
                                </div>
                                <div class="pid_info well">
                                    <p>
                                        ${parent_comment_user}: ${parent_comment_content}
                                    </p>
                                </div>
                                <div class="comment_con">
                                    <p>${content}</p>
                                </div>
                            </li>`;
                        }
                        else{
                            var s = `
                            <li class="list-group-item">
                                <div>
                                    <span>${create_time}</span>
                                    <a href="/${username}/">${username}</a>
                                    <a class="pull-right replay_btn" username="${username}" comment_pk="${comment_pk}">回复</a>
                                </div>
                                <div class="comment_con">
                                    <p>${content}</p>
                                </div>
                            </li>`;
                        }

                        $("ul.comment_list").append(s);

                        //清空评论框
                        pid="";
                        $("#comment_content").val("")


                    }
                })
            })

            //回复按钮事件
            $(".replay_btn").click(function (){
                console.log("ok");
                $("#comment_content").focus();
                var val = "@"+$(this).attr("username")+"\n";
                $("#comment_content").val(val);

                pid = $(this).attr("comment_pk");

            })
        </script>

    </div>
{% endblock %}