<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/tracer/static/blog/bs/css/bootstrap.css">
    <style>
        #avatar_id{
            margin-left: 20px
        }
        #avatar{
            display: none;
        }
        .error{
            color: red;
        }

    </style>
</head>
<body>
<h3>注册页面</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">

            <form id="form">
                {%  csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }} <span class="error float-right"></span>
                    </div>
                    
                {% endfor %}

                <div class="form-group">
                    <label for="avatar">
                        头像
                        <img id="avatar_id" width="60" height="60" src="/tracer/static/blog/img/default.png" alt="">
                    </label>
                    <input type="file", id="avatar">
                </div>

                <input type="button" class="btn reg-btn pull-right" value="submit"><span class="error"></span>
            </form>
        </div>
    </div>
</div>

<script src="/tracer/static/js/jquery-3.2.1.min.js"></script>
<script>
    //头像预览
    $("#avatar").change(function (){
        //获取用户选中的文件对象
        var file_obj=$(this)[0].files[0]
        //获取文件对象的路径
        var reader = new FileReader()
        reader.readAsDataURL(file_obj)
        //修改img的src属性， src=文件对象路径
        reader.onload=function (){
            $("#avatar_id").attr("src", reader.result)
        }

    });

    //基于ajax提交数据
    $("[type='button']").click(function (){

        var formdata = new FormData()
        var request_data = $("#form").serializeArray()
        $.each(request_data, function(index,data){
            formdata.append(data.name,data.value)
        })

        formdata.append("avatar", $("#avatar")[0].files[0])
        //方式二
        {#var formdata = new FormData()#}
        {#formdata.append("user",$("#id_user").val())#}
        {#formdata.append("pwd",$("#id_pwd").val())#}
        {#formdata.append("re_pwd", $("#id_re_pwd").val())#}
        {#formdata.append("email", $("#id_email").val())#}
        {#formdata.append("avatar", $("#avatar")[0].files[0])#}
        {#formdata.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val())#}


        $.ajax({
            url:"",
            type:"post",
            contentType:false,
            processData:false,
            data:formdata,
            success:function (data){
                console.log(data)

                if (data.user){
                    //注册成功
                    location.href = "/login/"
                }
                else{
                    //清空错误信息
                    //console.log(data.msg)
                    $('span.error').html("");
                    $('.form-group').removeClass("error")
                    //展示此次提交的错误信息

                    $.each(data.msg, function(field, error_list){
                        if(field == "__all__"){
                            $("#id_re_pwd").next().html(error_list[0]).parent().addClass("error");
                        }
                        $("#id_"+field).next().html(error_list[0]);
                        $("#id_"+field).parent().addClass("error");
                    })
                }

            }
        })

    })

</script>

</body>
</html>