{% extends 'layout/manage.html' %}
{% load static %}
{% block title %}{{ request.tracer.project.name }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/select2/css/select2.min.css' %}">

    <style>
        .account {
            width: 1500px;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #f0f0f0;
            padding: 10px 30px 30px 30px;
            -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
            box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
        }

        .test-result-form {
            text-align: center;
        }
        .form-group {
            margin-left: 10px;
        }
        #form {
            margin-top: 20px;
            text-align: center;
        }
        .pagination {
            float: right;
            margin-top: 10px;
        }
        .platform {
            text-align: center;
        }
        .event-head {
            text-align: center;
        }
        .result {
            width: 80px;
            text-align: center;
        }
        .results-list .version {
            text-align: center;
        }
        .results-list .test-path {
            text-align: center;
        }
        .test_path {
            text-align: left;
        }
        .results-list .task-id {
            text-align: center;
        }
        .results-list .case-url {
            text-align: center;
        }
        .results-list .create-time {
            width: 180px;
            text-align: center;
        }

    </style>
{% endblock %}

{% block content %}
    <form id="form" class="form-inline" role="form">
        {% for field in form %}
            {% if field.name == 'datetime' %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}" class="filter-control">{{ field.label }}</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                        {{ field }}
                    </div>
                    <span class="error"></span>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}" class="filter-control">{{ field.label }}</label>
                    {{ field }}<span class="error"></span>
                </div>
            {% endif %}
        {% endfor %}
        <input type="button" class="btn btn-success btn-sm"  value="查找" id="search">
    </form>
    <div class="account">
        <div class="test-result-form">
    <table class="table" border="1" style="border-collapse:collapse;">
        <tbody class="results-list">
            <tr class="heard">
                <th class="platform">平台</th>
                <th class="version">版本详情</th>
                <th class="task-id">任务id</th>
                <th class="test-path">脚本路径</th>
                <th class="event-head">EVENT</th>
                <th class="case-url">埋点url</th>
                <th class="th">测试结果</th>
                <th class="create-time">收录时间</th>
            </tr>
        {% for item in issues_object_list %}
            <tr>
                <td class="platform">
                    <div>{{ item.get_platform_display }}</div>
                </td>
                <td class="version">
                    <div>
                        {{ item.version_detail }}
                    </div>
                </td>
                <td class="task_id">
                    <div>{{ item.task_id }}</div>
                </td>
                <td class="test_path">
                    <div>{{ item.test_path }}</div>
                </td>
                <td class="event">
                    <div>{{ item.event }}</div>
                </td>
                <td class="test_case_url">
                        <a href="{{ item.test_case_url }}">
                        {{ item.case_id }}
                        </a>
                </td>
                <td class="result">
                    <div>{{ item.result }}</div>
                </td>
                <td class="create-time">
                    <div>{{ item.create_time|date:"Y年m月d日 H:i" }}</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav id="page" aria-label="...">
        <ul class="pagination" style="margin-top: 0">
            {{ page_html|safe }}
        </ul>
    </nav>
    </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'plugin/editor-md/editormd.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-select/js/i18n/defaults-zh_CN.min.js' %}"></script>
    <script src="{% static 'plugin/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugin/select2/js/i18n/zh-CN.js' %}"></script>

    <script>
        var RESULT_SEARCH = "{% url 'result_search' project_id=request.tracer.project.id %}";

        $(function () {
            searchClick();
            initDatePicker();
            initDropdown();
        })

        function initDropdown(){
            $('.dropdown-toggle').dropdown();
        }
        /*
        添加对话框：初始化时间选择
         */
        function initDatePicker() {

            $('#id_datetime').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',
                language: "zh-CN",
                autoclose: true
            });
        }

        function searchClick(){
            $('#search').click(function (){
                var platform = $("#id_platform").val()
                var version_detail = $("#id_version_detail").val()
                var task_id = $("#id_task_id").val()
                var test_path = $("#id_test_path").val()
                var event = $("#id_event").val()
                var test_case_url = $("#id_test_case_url").val()
                var datetime = $("#id_datetime").val()
                var result = $("#id_result").val()

                $.ajax({
                    url: RESULT_SEARCH,
                    type: 'GET',
                    data: {
                        "platform": platform,
                        "version_detail": version_detail,
                        "task_id": task_id,
                        "test_path": test_path,
                        "event": event,
                        "test_case_url": test_case_url,
                        "datetime":datetime,
                        "result":result,
                    },
                    success: function (data){
                        console.log('ok')
                        location.href = data.url
                    }
                })
            })
        }
    </script>
    {#    <script src="{% static 'plugin/bootstrap-table-master/dist/bootstrap-table.js' %}"></script>#}
    {#    <script src="{% static 'plugin/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.js' %}"></script>#}
    {#    <script>#}
    {##}
    {#var RESULT_URL = {% url 'test_result' project_id=request.tracer.project.id %}#}
    {##}
    {#$('#table').bootstrapTable({#}
    {#    url: '{% url 'test_result' project_id=request.tracer.project.id %}',        // 表格数据来源#}
    {#    method: "get",  //使用get请求到服务器获取数#}
    {#    dataType: "json",#}
    {#    toolbar: '#toolbar',                //工具按钮用哪个容器#}
    {#    striped: true,                      //是否显示行间隔色#}
    {#    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）#}
    {#    pagination: false,                   //是否显示分页（*）#}
    {#    sortable: true,                     //是否启用排序#}
    {#    sortOrder: "asc",                   //排序方式#}
    {#queryParams: oTableInit.queryParams,//传递参数（*）#}
    {#    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）#}
    {#    pageNumber: 1,                       //初始化加载第一页，默认第一页#}
    {#    pageSize: 10,                       //每页的记录行数（*）#}
    {#    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）#}
    {#    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大#}
    {#    strictSearch: true,#}
    {#    showColumns: false,                  //是否显示所有的列#}
    {#    showRefresh: false,                  //是否显示刷新按钮#}
    {#    minimumCountColumns: 2,             //最少允许的列数#}
    {#    clickToSelect: false,                //是否启用点击选中行#}
    {#height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度#}
    {#    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列#}
    {#    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮#}
    {#    cardView: false,                    //是否显示详细视图#}
    {#    detailView: false,                   //是否显示父子表#}
    {#    queryParamsType : "total",#}
    {#queryParams: function(params){#}
    {#    return {#}
    {#        task_id: 305930#}
    {#    };},#}
    {#    columns: [#}
    {#{field:'column',#}
    {#    checkbox:false},#}
    {#        {#}
    {#            field: 'platform',#}
    {#            title: '平台'#}
    {#        }, {#}
    {#            field: 'version_detail',#}
    {#            title: '版本详情',#}
    {#            width:100#}
    {#        }, {#}
    {#            field: 'task_id',#}
    {#            title: '任务id',#}
    {#            align: 'center'#}
    {#        },{#}
    {#            field: 'test_path',#}
    {#            title: '脚本路径',#}
    {#            formatter: function (value, row, index){#}
    {#                return "<a href='https://code.byted.org/testproj/tiktok_proj/blob/develop/" + value + "' id='test_script' target='_blank' >" + value + "</a>"#}
    {#            },#}
    {#            width: 550,#}
    {#        },{#}
    {#            field: 'event',#}
    {#            title: 'EVENT',#}
    {#            align: 'center',#}
    {#            width: 150#}
    {#        },{#}
    {#            field: 'test_case_url',#}
    {#            title: '埋点url',#}
    {#            align: 'center',#}
    {#            width: 500,#}
    {#            formatter:function(value,row,index){#}
    {#                return "<a href='" + value + "' id='test_case_url' target='_blank' >" + value + "</a>"#}
    {#            }#}
    {#        },{#}
    {#            field: 'result',#}
    {#            title: '测试结果',#}
    {#            width: 100,#}
    {#            align:'center'#}
    {#        },{#}
    {#            field: 'create_time',#}
    {#            title: '时间日期',#}
    {#            width: 150#}
    {#        } ],#}
    {#    rowStyle:function(value,row,index){#}
    {#        return {css:{"font-family":"STHeiti",}}#}
    {#    }}#}
    {#);#}
    {##}
    {#function queryParams() {#}
    {#    var params = $('#form').serialize();                    //获取文本框的值#}
    {##}
    {#    return params;#}
    {#       #}
    {##}
    {#$('#name').click(function () {#}
    {#    $('#table').bootstrapTable('refresh')#}
    {#      #}
    {##}
    {#    </script>#}
{% endblock %}

{#    customSearch:function customSearch(text) { //搜索--以第一列为导向 text为搜索框内输入的值#}
{#    if(text == undefined){#}
{#    return false;#}
{#    }#}
{#    this.data = body;  //以防前一次的搜索对后边的搜索有影响#}
{#    var arr = [];  //用来暂存符合搜索条件的数据#}
{#    $.each(this.data, function (index,item){  //逐个比较#}
{#    if( item[0].indexOf(text) >= 0 ){#}
{#    arr.push(item)#}
{#    }#}
{#    })#}
{#    this.data = arr;  //将获得数据给this.data#}
{#    $('#table').bootstrapTable('refresh'); //重新渲染表格#}
{#    },#}