{% extends 'layout/manage.html' %}
{% load static %}
{% block title %}{{ request.tracer.project.name }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/select2/css/select2.min.css' %}">

    <style>
        .account {
            width: 1500px;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #f0f0f0;
            padding: 10px 30px 30px 30px;
            -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
            box-shadow: 5px 10px 10px rgba(0, 0, 0, .05);
        }

        .test-result-form {
            text-align: center;
        }
        .form-group {
            margin-left: 10px;
        }
        #form {
            margin-top: 20px;
            text-align: center;
        }
        .pagination {
            float: right;
            margin-top: 10px;
        }
        .platform {
            text-align: center;
        }
        .event-head {
            text-align: center;
        }
        .result {
            width: 80px;
            text-align: center;
        }
        .results-list .version {
            text-align: center;
        }
        .results-list .test-path {
            text-align: center;
        }
        .test_path {
            text-align: left;
        }
        .results-list .task-id {
            text-align: center;
        }
        .results-list .case-url {
            text-align: center;
        }
        .results-list .create-time {
            width: 180px;
            text-align: center;
        }

    </style>
{% endblock %}

{% block content %}
    <form id="form" class="form-inline" role="form">
        {% for field in form %}
            {% if field.name == 'datetime' %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}" class="filter-control">{{ field.label }}</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                        {{ field }}
                    </div>
                    <span class="error"></span>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}" class="filter-control">{{ field.label }}</label>
                    {{ field }}<span class="error"></span>
                </div>
            {% endif %}
        {% endfor %}
        <input type="button" class="btn btn-success btn-sm"  value="查找" id="search">
    </form>
    <div class="account">
        <div class="test-result-form">
    <table class="table" border="1" style="border-collapse:collapse;">
        <tbody class="results-list">
            <tr class="heard">
                <th class="platform">平台</th>
                <th class="version">版本详情</th>
                <th class="task-id">任务id</th>
                <th class="test-path">脚本路径</th>
                <th class="event-head">EVENT</th>
                <th class="case-url">埋点url</th>
                <th class="th">测试结果</th>
                <th class="create-time">收录时间</th>
            </tr>
        {% for item in issues_object_list %}
            <tr>
                <td class="platform">
                    <div>{{ item.get_platform_display }}</div>
                </td>
                <td class="version">
                    <div>
                        {{ item.version_detail }}
                    </div>
                </td>
                <td class="task_id">
                    <div>{{ item.task_id }}</div>
                </td>
                <td class="test_path">
                    <div>{{ item.test_path }}</div>
                </td>
                <td class="event">
                    <div>{{ item.event }}</div>
                </td>
                <td class="test_case_url">
                        <a href="{{ item.test_case_url }}">
                        {{ item.case_id }}
                        </a>
                </td>
                <td class="result">
                    <div>{{ item.result }}</div>
                </td>
                <td class="create-time">
                    <div>{{ item.create_time|date:"Y年m月d日 H:i" }}</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav id="page" aria-label="...">
        <ul class="pagination" style="margin-top: 0">
            {{ page_html|safe }}
        </ul>
    </nav>
    </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'plugin/editor-md/editormd.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-select/js/i18n/defaults-zh_CN.min.js' %}"></script>
    <script src="{% static 'plugin/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugin/select2/js/i18n/zh-CN.js' %}"></script>

    <script>
        var RESULT_SEARCH = "{% url 'result_search' project_id=request.tracer.project.id %}";

        $(function () {
            searchClick();
            initDatePicker();
            initDropdown();
        })

        function initDropdown(){
            $('.dropdown-toggle').dropdown();
        }
        /*
        添加对话框：初始化时间选择
         */
        function initDatePicker() {

            $('#id_datetime').datepicker({
                format: 'yyyy-mm-dd',
                {#startDate: '0',#}
                language: "zh-CN",
                autoclose: true
            });
        }

        function searchClick(){
            $('#search').click(function (){
                var platform = $("#id_platform").val()
                var version_detail = $("#id_version_detail").val()
                var task_id = $("#id_task_id").val()
                var test_path = $("#id_test_path").val()
                var event = $("#id_event").val()
                var test_case_url = $("#id_test_case_url").val()
                var create_time = $("#id_datetime").val()
                var result = $("#id_result").val()

                $.ajax({
                    url: RESULT_SEARCH,
                    type: 'GET',
                    data: {
                        "platform": platform,
                        "version_detail": version_detail,
                        "task_id": task_id,
                        "test_path": test_path,
                        "event": event,
                        "test_case_url": test_case_url,
                        "create_time":create_time,
                        "result":result,
                    },
                    success: function (data){
                        console.log('ok')
                        location.href = data.url
                    }
                })
            })
        }
    </script>
{% endblock %}
