{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} 用户注册 {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
<div class="background">
    <div class="mask">
        <div class="account">
    <div class="title">用户注册</div>
    <form id="form">
        {%  csrf_token %}

        {% for field in form %}
            {% if field.name == 'code' %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="clearfix">
                        <div class="col-md-6" style="padding-left: 0">{{ field }} <span class="error"></span> </div>
                        <div class="col-md-6 pull-right"><input type="button" id="btnSms" class="btn btn-default valid_btn" value="点击获取验证码"></div>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }} <span class="error"></span>
                </div>
            {% endif %}

        {% endfor %}

        <div class="form-group">
            <label for="avatar">
                头像
                <img id="avatar_id" width="40" height="40" src="{% static 'img/default.png' %}" alt="">
            </label>
            <input type="file" id="avatar">
        </div>
            <input type="button" class="btn btn-primary register_btn" value="注册"><span class="error"></span>
    </form>
</div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    //页面加载之后自动执行函数
    $(function (){
        bindClickBtnSms();
        bindChangeAvatar();
        bindClickSubmit();

    });
    //头像预览效果
    function bindChangeAvatar() {
        $("#avatar").change(function () {
            //获取用户选中的文件对象
            var file_obj = $(this)[0].files[0]
            //获取文件对象的路径
            var reader = new FileReader()
            reader.readAsDataURL(file_obj)
            reader.onload = function () {
                $('#avatar_id').attr('src', reader.result)
            }

        })
    }

    //基于ajax提交数据
    function bindClickSubmit() {
        $(".register_btn").click(function () {
            //清空错误信息
            $('span.error').empty();

            var formdata = new FormData();
            var request_data = $('#form').serializeArray();
            $.each(request_data, function (index, data) {
                formdata.append(data.name, data.value)
            })
            formdata.append("avatar", $("#avatar")[0].files[0])

            $.ajax({
                url: '/register/',
                type: 'post',
                contentType: false,
                processData: false,
                data: formdata,
                success: function (data) {
                    console.log(data)

                    if (data.user) {
                        //注册成功
                        location.href = '/login/'
                    } else {
                        //展示此提交的错误信息
                        $.each(data.msg, function (field, error_list) {
                            //最后校验确认密码的正确性
                            $("#id_" + field).next().text(error_list[0]);
                        })
                        setTimeout(function () {
                            $(".error").text("")
                        }, 10000)
                    }
                }
            })
        })
    }
    //最优
    {#function bindClickSubmit() {#}
    {#    $('#register_btn').click(function () {#}
    {#        $('span.error').empty();#}
    {#        // 收集表单中的数据（找到每一个字段）$('#regForm').serialize()#}
    {#        var formdata = new FormData()#}
    {#        var request_data = $('#register_btn').serializeArray();#}
    {#        $.each(request_data, function (index, data){#}
    {#            formdata.append(data.name, data.value)#}
    {#        })#}
    {#        formdata.append("avatar", $("#avatar")[0].files[0])#}
    {##}
    {#        // 数据ajax发送到后台#}
    {#        $.ajax({#}
    {#            url: "",#}
    {#            type: "POST",#}
    {#            data: formdata, // 所有字段数据 + csrf token#}
    {#            dataType: "JSON",#}
    {#            success: function (res) {#}
    {#                if(res.user){#}
    {#                    location.href = '/login/';#}
    {#                }else{#}
    {#                    $.each(res.msg, function (key, value) {#}
    {#                        $("#id_" + key).next().text(value[0]);#}
    {#                    })#}
    {#                }#}
    {#            }#}
    {#        })#}
    {#    })#}


    //获取验证码，并进行倒计时(自己作业)
    {#$('.valid_btn').click(function (){#}
    {#    var formdata = new FormData();#}
    {#    formdata.append("telephone", $("#id_telephone").val());#}
    {#    formdata.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val(),)#}
    {##}
    {#    $.ajax(#}
    {#        {#}
    {#        url:'/register_valid_code/',#}
    {#        type:'post',#}
    {#        contentType:false,#}
    {#        processData:false,#}
    {#        data:formdata,#}
    {#        success: function (data){#}
    {#            console.log(data)#}
    {#        }#}
    {#        }#}
    {#    )}#}
    {#)#}
    //获取验证码，并进行倒计时最优解
    function bindClickBtnSms(){
        $('#btnSms').click(function (){
            $('span.error').empty()

            var telephone = $('#id_telephone').val();

            $.ajax({
                url: '/register_valid_code/',
                type: 'GET',
                data: {telephone: telephone, 'template': 'register'},
                dataType: "JSON",
                success: function (res){
                    console.log(res)
                    if (res.result) {
                        sendSmsRemind();
                    } else {
                        // 错误信息
                        // console.log(res); // {status:False, error:{ mobile_phone: ["错误信息"，],code: ["错误信息"，] }  }
                        $.each(res.msg, function (key, value) {
                            $("#id_" + key).next().text(value[0]);
                        })
                    }
                }
            })
        })
    }
    //倒计时
    function sendSmsRemind() {
        var $smsBtn = $('#btnSms');
        $smsBtn.prop('disabled', true); // 禁用
        var time = 30;
        var remind = setInterval(function () {
            $smsBtn.val(time + '秒重新发送');
            time = time - 1;
            if (time < 1) {
                clearInterval(remind);
                $smsBtn.val('点击获取验证码').prop('disabled', false);
            }
        }, 1000)

    }


</script>
{% endblock %}