{% extends 'layout/manage.html' %}
{% load setting %}
{% block content %}
    <div class="container clearfix" style="margin-top: 20px;">
        <div class="col-sm-3">
            {% setting_base_list request %}
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-address-card-o" aria-hidden="true"></i> 我的资料</div>
                <div class="panel-body">
                    <h4 style="text-align: center;">系统设置</h4>
                </div>
            </div>

        </div>
    </div>
{% endblock %}