{% extends 'layout/manage.html' %}
{% load setting %}
{% block css %}
    <style>
        .panel-heading i {
            margin-right: 3px;
        }
        .choose {
            border-left: 2px solid #f90 !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container clearfix" style="margin-top: 20px;">
        <div class="col-sm-3">
            {% setting_base_list request %}
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-list" aria-hidden="true"></i>项目管理</div>
                <div class="panel-body">

                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">项目名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="请输入项目名称" name="project_name">
                                <span class="error">{{ error }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <input type="submit" class="btn btn-danger" value="删 除">
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
{% endblock %}