{% load static %}
{% load project %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script  type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugin/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugin/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <script type="text/javascript" src="{% static 'plugin/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/manage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugin/kanbanniang/soul.css' %}"/>
{#    <link rel="stylesheet" type="text/css" href="{% static 'plugin/kanbanniang/flat-ui.min.css' %}"/>#}
    <style>
        .navbar-av {
            border-radius: 0;
        }

        .error {
            color: red;
            position: absolute;
            font-size: 13px;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-av">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'project_list' %}">Tracer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if request.tracer.project %}
                    {% all_project_list request %}
                    {% manage_menu_list request %}
                {% else %}
                    {% all_project_list request %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">项目申请<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for item in all_project %}
                                <li><a href="{% url 'project_application' project_id=item.id %}">{{ item.name }}</a></li>
                            {% endfor %}
                            <li><a href="">所有项目</a></li>
                        </ul>

                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">工作台</a></li>
                <li><a href="#">日历</a></li>
                <li><a href="#"> <i class="fa fa-bell-o" aria-hidden="true"></i> </a></li>
                <li><a href="#"> <i class="fa fa-bookmark" aria-hidden="true"></i> </a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ request.tracer.user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'index' %}">官 网</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}">退 出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="waifu" id="waifu">

    <div class="waifu-tips" style="opacity: 1;"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-home"></span>
        <span class="fui-chat"></span>
        <span class="fui-eye"></span>
        <span class="fui-user"></span>
        <span class="fui-photo"></span>
        <span class="fui-info-circle"></span>
        <span class="fui-cross"></span>
    </div>

</div>
{% block content %}{% endblock %}


<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'plugin/kanbanniang/live2d.js' %}"></script>
<script src="{% static 'plugin/kanbanniang/soul.js' %}"></script>
<script type="text/javascript">initModel()</script>
<script src="{% static 'plugin/bootstrap/js/bootstrap.min.js' %}"></script>
<script>
    $('.dropdown-toggle').dropdown();
</script>
{% block js %}{% endblock %}
</body>
</html>