{% extends 'detector/layout/basic.html' %}
{% load static %}
{% block title %}
    用户登录
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title">用户登录</div>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'valid_code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="row">
                            <div class="col-xs-7">
                                {{ field }}
                                <span class="error"></span>
                            </div>
                            <div class="col-xs-5">
                                <img src="{% url 'image_code' %}" id="imageCode" title="点击更换图片">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error"></span>
                    </div>
                {% endif %}
            {% endfor %}

            <div>
                <div style="float: right;">
                    <a href="{% url 'login_sms' %}">短信验证码登录?</a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <input type="button" class="btn btn-primary" value="登  录"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function (){
            freshValidCode();
            bindLoginSubmit();
        });
        function freshValidCode(){
            $('#imageCode').click(function () {
                $(this)[0].src += "?"
            })
        }

        function bindLoginSubmit() {
            //登录验证
            $("[type='button']").click(function () {
                $('.error').empty();
                $.ajax({
                    url: "/login/",
                    type: "post",
                    data: {
                        username: $("#id_username").val(),
                        password: $("#id_password").val(),
                        valid_code: $("#id_valid_code").val(),
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),

                    },
                    success: function (data) {
                        console.log(data)

                        if (data.user) {
                            location.href = "/index/"
                        } else {
                            $.each(data.msg, function (field, error_list) {
                                //最后校验确认密码的正确性
                                $("#id_" + field).next().text(error_list[0]);
                            })
                            $("#imageCode")[0].src += "?"

                            setTimeout(function () {
                                $(".error").text("")
                            }, 10000)
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}