{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script  type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'plugin/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugin/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <script type="text/javascript" src="{% static 'plugin/bootstrap/js/bootstrap.min.js' %}"></script>

    {% block css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<scrip src="{% static 'plugin/bootstrap/js/bootstrap.min.js' %}"></scrip>
{% block js %}{% endblock %}
</body>
</html>